@import "tailwindcss";


/* Scrollbar  */
::-webkit-scrollbar {
    width: 8px;
}

/* Scrollbar background (track) */
::-webkit-scrollbar-track {
    background: #1e293b;
    /* slate-800 */
    border-radius: 10px;
}

/* Scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
    background-color: #a855f7;
    /* purple-500 */
    border-radius: 10px;
}

/* Scrollbar handle hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #9333ea;
    /* purple-600 */
}